html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(to bottom, #E8B7DB, #FFF9FE);
    color: #000000;
    padding-top: 1rem;
    padding-left: 2rem;
    text-align: center;
    
}

h1 {
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
}

input {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: #FFF;
    border: 0px solid #ea81de;
    border-radius: 6px;
    padding: 0.5rem;
    margin: 1rem;
}

li {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 0.5rem;
    padding-top: 0.2rem;

}

p {
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 1rem;
}

h5 {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 1rem;
}


/*
<i class="material-icons animated-icon"style="color: white;">cloud</i>
<br>
<i class="material-icons animated-icon"style="color: white;" id="nummerTo">cloud</i>
*/


.animated-icon {
    position: absolute;
    animation-name: float;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes float {
0%   {left:0; top:31rem;}
100% {left:100vw; top:31rem;}
}

#nummerTo {
animation-delay: 0s;
animation-duration: 38s;
font-size: 50px;
}
